@font-face {
    font-family: Droid;
    src: url("Droid.Arabic.Naskh.Regular.ttf");
}

@font-face {
    font-family: DroidBold;
    src: url("Droid.Arabic.Naskh.Bold.ttf");
}

div {
	position: fixed;
}

a {
	color:#6d86cf;
	text-decoration:none;
	font-family: Droid;
	font-size: 12pt;
	cursor: hand;
}